body {
    padding: 0;
    margin: 0;
}

#header-wrap {}

#header {
    background-color: #00ff00;
    width:100%;
    height: 4em;
}

#header h3 {
    float:left;
    padding: 0.5em;
    margin: 0;
    font-weight: bolder;
}

#nav-toggle-button {
    float:right;
    margin: 0.5em;
    padding: 0.5em;
}

#nav-menu {}

#nav-menu-links {
    background: #0fc;
    text-align: right;
    display:none;
}

#nav-menu-links ul {
    list-style-type: none;
}

#nav-menu-links li {
    
}

#content-wrap {
    padding: 0;
    margin: 0;
    top:4em;
}

#content {
    height: 20em;
    background-color: #fe0;
}




#footer-wrap {}

#footer {
    height: 3em;
    width: 100%;
    background-color: #f00;
}





.debug {
	background-color:#000;
	color:#00FF00;
	border-color:#00FF00;
	border-style:solid;
}

.debug strong {
	color:#FF0000;
}
	

.nested_debug {
	background-color:#333;
	color:#00FFFF;
	border-color:#00FFFF;
	border-style:solid;
	margin:5px 5px 5px 5px;
}





table.tablesorter {
	font-size: 12px;
	background-color: #4D4D4D;
	border: 1px solid #000;
	border-collapse: collapse;
}
table.tablesorter th {
	text-align: left;
	padding: 5px;
	background-color: #6E6E6E;
}
table.tablesorter td {
	color: #FFF;
	padding: 5px;
}
table.tablesorter .even {
	background-color: #3D3D3D;
}
table.tablesorter .odd {
	background-color: #6E6E6E;
}
table.tablesorter .header {
	background-image: url(./bg.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
table.tablesorter .headerSortUp {
	background-image: url(../img/asc.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(../img/desc.png);
	background-repeat: no-repeat;
}

.offscreen {
	position: absolute;
	left: -10000px;
}

#goodTable .header:focus, #goodTable .header:hover {
	background-color: #ccc;
}

#goodTable td, #goodTable th{
	border: 1px solid #000;
}

#goodTable tbody td, #goodTable tbody th{
	background-color: #eee;
	color: #000;
}

#goodTable caption{
	font-weight: bold;
	font-size: 1.2em
}

#goodTable {
	margin-bottom:3%;
}