body {
    padding: 0;
    margin: 0;
}

#header-wrap {}

#header {
	background-color: #06b;
    color: #fff;
    width:100%;
    height: 4em;
/*	border-bottom: solid 1px #06b;*/
}

#header h3 {
    float:left;
    padding: 0.5em;
    margin: 0;
    font-weight: bolder;
}

#nav-toggle-button {
    float:right;
    margin: 0.5em;
    padding: 0.5em;
}

#nav-menu {}

#nav-menu-links {
    background: #fff;
	color: #06b;
    text-align: right;
    z-index: 1;
    top:0;
    left:0;
    display:none;
}

#nav-menu-links ul {
    list-style-type: none;
}

#nav-menu-links li {
    
}

#content-wrap {
    padding: 0;
    margin: 0;
    top:4em;
}

#content {
    padding: 0.25em;
    margin: 0;
    min-height: 20em;
/*    background-color: #fe0;*/
}

#content h3 {
    padding: 0;
    margin: 0;
}

#content-search-box {
	margin-bottom: .5em;
}

#footer-wrap {}

#footer {
    height: 3em;
    width: 100%;
/*    background-color: #f00;*/
}


fieldset.search-fieldset {

/*
	width:auto;
	padding: 0 10px;
	border: 1px solid #06b;
*/

	margin-bottom: 2em;
}

fieldset legend.search-fieldset-legend {
	width:auto;
	padding: 0 10px;
	border: 1px solid #06b;
}

/* for alternating row colors */
.row-striped:nth-of-type(odd){
  background-color: #efefef;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
}




.debug {
	background-color:#000;
	color:#00FF00;
	border-color:#00FF00;
	border-style:solid;
}
.debug strong {
	color:#FF0000;
}
.nested_debug {
	background-color:#333;
	color:#00FFFF;
	border-color:#00FFFF;
	border-style:solid;
	margin:5px 5px 5px 5px;
}
.offscreen {
	position: absolute;
	left: -10000px;
}


.assigned-list {
	width: 32em;
}

#right-col {
	float:left;
	padding: 5em;
	padding-left: 0em;
}

#left-col {
	float:left;
	padding: 5em;
	padding-right: 10em;
}


/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url('../img/bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url('../img/asc.gif');
}
table.tablesorter thead tr .headerSortDown {
	background-image: url('../img/desc.gif');
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

#goodTable .header:focus, #goodTable .header:hover {
	background-color: #ccc;
}
#goodTable td, #goodTable th{
	border: 1px solid #000;
}
#goodTable tbody td, #goodTable tbody th{
	background-color: #eee;
	color: #000;
}
#goodTable caption{
	font-weight: bold;
	font-size: 1.2em
}
#goodTable {
	margin-bottom:3%;
}