body {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

h3 {
	margin: 0;
	padding: 0;
}

div {
	margin: 0;
	padding: 0;
}

.debug {
	background-color:#000;
	color:#00FF00;
	border-color:#00FF00;
	border-style:solid;
}

.debug strong {
	color:#FF0000;
}
	

.nested_debug {
	background-color:#333;
	color:#00FFFF;
	border-color:#00FFFF;
	border-style:solid;
	margin:5px 5px 5px 5px;
}

#container {}

#header-wrap {}

#header {}

#left-nav-wrap {}

#left-nav {
    border-color: #cfcfcf;
    border-style: solid;
    width:20%;
}

#content-wrap {}

#content {
    border-color: #cfcfcf;
    border-style: solid;
}

#footer-wrap {}

#footer {
    border-color: #cfcfcf;
    border-style: solid;
}

